@import 'tailwindcss';

@theme {
	/* 
	--color-cor-teste: #e63946;
    => className='text-cor-teste' 
    */

	--grid-template-columns-layout: minmax(18rem, 20rem) 1fr;

	--grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr)
		minmax(0, 15rem);

	--animate-slideDownAndFade: slideDownAndFade 1s
		cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-6px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
